<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Thymeleaf唯一标签th:block的用法和使用场景</title>
  <meta name="keywords" content="Thymeleaf">
  <meta name="description" content="一开始学习Thymeleaf的时候是不知道有th:block这个标签的，这是因为在使用Thymeleaf的过程中遇到了各种各样的需求才导致有这样的一种需要，那就是多种同级容器标签动态重复迭代的需求。。。">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="../client/images/favicon.ico">
  <link rel="stylesheet" href="../client/css/bootstrap.min.css" media="all">
  <link rel="stylesheet" href="../client/css/bootstrap-icons.css" media="all">
  <link rel="stylesheet" href="../client/css/style.css" media="all">
  <link rel="stylesheet" href="../client/css/prism.css" media="all">
  <script type="text/javascript" src="../client/js/prism.js"></script>
  <style>
			@media screen and (max-width:640px) {
				p img{
					width: 100%;
					height: auto;
				}
			}
		</style>
 </head>
 <body><!--引入头部导航模板-->
  <header>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Ninth navbar example">
    <div class="container-xl"><a class="navbar-brand" href="../index.html"><strong>DJB-Blog</strong></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
     <div class="collapse navbar-collapse" id="navbarsExample07XL">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item p15"><a class="nav-link" href="../index.html"><i class="bi bi-house"></i>&nbsp;首页</a></li>
       <li class="nav-item p15"><a class="nav-link  active" href="../list/0.html"><i class="bi bi-file-earmark-medical"></i>&nbsp;技术分享</a></li>
       <li class="nav-item p15"><a class="nav-link" href="../tags.html"><i class="bi bi-tags"></i>&nbsp;标签</a></li>
       <li class="nav-item p15"><a class="nav-link" href="../archive.html"><i class="bi bi-folder2"></i>&nbsp;文章归档</a></li>
       <li class="nav-item p15"><a class="nav-link" href="../links.html"><i class="bi bi-link-45deg"></i>&nbsp;友情链接</a></li>
       <li class="nav-item p15"><a class="nav-link" href="../message.html"><i class="bi bi-chat-quote"></i>&nbsp;在线留言</a></li>
      </ul>
      <form id="searchForm" action="/seach" method="post" onsubmit="return checkOut(this)">
       <div class="input-group"><input id="name" name="name" class="form-control form-control-sm" type="text"> <button type="submit" class="input-group-text"><i class="bi bi-search"></i></button>
       </div>
      </form>
     </div>
    </div>
   </nav>
  </header>
  <main>
   <div class="album py-5 bg-light">
    <div class="container">
     <div class="row">
      <div class="col-sm-8">
       <div class="page-header mt-2">
        <h4>
         <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
           <li class="breadcrumb-item h6"><a href="../index.html">首页</a></li>
           <li class="breadcrumb-item h6"><a href="../list/0.html">技术分享</a></li>
           <li class="breadcrumb-item h6 active" aria-current="page">文章详细</li>
          </ol>
         </nav></h4>
       </div>
       <div class="col mb-3 mt-2">
        <div class="card shadow-sm">
         <div class="card-body mt-2"><input type="hidden" name="articleId" id="articleId" value="12"> <input type="hidden" name="title" id="title" value="Thymeleaf唯一标签th:block的用法和使用场景">
          <p class="h4">Thymeleaf唯一标签th:block的用法和使用场景</p>
          <p class="bloginfo"><i class="avatar"><img src="../client/images/t8.png"></i> <span>Temdy</span> <span>2021-09-11 22:05:19</span> <span>【<a href="../list/3.html" target="_blank">Thymeleaf</a>】</span> <span>548人已围观</span></p>
          <p class="card-text t_c1"></p>
          <p>一开始学习Thymeleaf的时候是不知道有th:block这个标签的，这是因为在使用Thymeleaf的过程中遇到了各种各样的需求才导致有这样的一种需要，那就是多种同级容器标签动态重复迭代的需求，在不使用th:block这个标签的情况只能从后台拼接字符串输出到前端显示，这样就导致了后端代码的臃肿，看起来很不优雅，后来在互联网上查找了很久才发现有th:block这个标签才完美解决了这种情况。</p>
          <h4>th:block的作用<br></h4>
          <p>它是Thymeleaf提供的唯一的一个Thymeleaf块级元素，其特殊性在于Thymeleaf模板引擎在处理&lt; th:block &gt;的时候会删掉它本身，标签本身不显示，而保留其内容</p>
          <h4>th:block的用法和使用场景<br></h4>
          <p><strong>1、多种同级容器标签动态重复迭代</strong></p>
          <p>span和div两个块重复迭代</p>
          <pre><code class="language-html">&lt;th:block&nbsp;th:each="user&nbsp;:&nbsp;${users}"&gt;
	&lt;span&nbsp;class="timeline-label"&gt;
		&lt;span&nbsp;class="label&nbsp;btn&nbsp;btn-primary"&gt;2021年8月&lt;/span&gt;
	&lt;/span&gt;
	&lt;div&nbsp;class="timeline-item"&gt;
		&lt;div&nbsp;class="timeline-point&nbsp;timeline-point-success"&gt;
			&lt;i&nbsp;class="bi&nbsp;bi-record-circle"&gt;&lt;/i&gt;
		&lt;/div&gt;
		&lt;div&nbsp;class="timeline-event"&gt;
			&lt;div&nbsp;class="timeline-body"&gt;														
				&lt;ul&nbsp;class="list-group&nbsp;mb-2&nbsp;list-style-reset"&gt;
					&lt;li&nbsp;class="border-bottom&nbsp;mb-2"&gt;
						&lt;a&nbsp;href="info.html"&gt;&lt;i&nbsp;class="bi&nbsp;bi-caret-right"&gt;&lt;/i&gt;&amp;nbsp;Spring&nbsp;Boot&nbsp;Web&nbsp;开发注解篇&lt;/a&gt;
					&lt;/li&gt;
					&lt;li&nbsp;class="border-bottom&nbsp;mb-2"&gt;
						&lt;a&nbsp;href="info.html"&gt;&lt;i&nbsp;class="bi&nbsp;bi-caret-right"&gt;&lt;/i&gt;&amp;nbsp;Spring&nbsp;Boot&nbsp;表单验证篇&lt;/a&gt;
					&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/th:block&gt;</code></pre>
          <p><strong>2、多种条件相同的模块控制的条件分支</strong></p>
          <p>添加和修改两个功能相同条件下显示</p>
          <pre><code class="language-html">&lt;th:block&nbsp;th:if='${flag==1}'&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;button&gt;添加&lt;/button&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;button&gt;修改&lt;/button&gt;
&lt;/th:block&gt;
&lt;button&gt;删除&lt;/button&gt;</code></pre>
          <p><strong>3、与原型注释块结合使用</strong></p>
          <pre><code class="language-html">&lt;table&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!--/*/&nbsp;&lt;th:block&nbsp;th:each="user&nbsp;:&nbsp;${users}"&gt;&nbsp;/*/--&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&nbsp;th:text="${user.login}"&gt;...&lt;/td&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&nbsp;th:text="${user.name}"&gt;...&lt;/td&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&nbsp;colspan="2"&nbsp;th:text="${user.address}"&gt;...&lt;/td&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;!--/*/&nbsp;&lt;/th:block&gt;&nbsp;/*/--&gt;
&lt;/table&gt;</code></pre>
          <p>此解决方案如何使模板成为有效的HTML（无需在 &lt;table&gt; 内添加隐藏的&lt;div&gt;），并且当在浏览器中作为原型静态打开时，仍可以正常使用！</p>
          <p></p>
          <p class="text-center"><span class="btn btn-danger" id="greatBtn" onclick="great()">很赞哦！ (1)</span></p>
          <div>
           <p>上一篇：<a href="11.html" target="_blank" title="Jsoup实现根据ip获取国家和城市信息">Jsoup实现根据ip获取国家和城市信息</a></p>
           <p>下一篇：<a href="13.html" target="_blank" title="javafx GridPane 响应式布局 javafx布局详解">javafx GridPane 响应式布局 javafx布局详解</a></p>
          </div>
         </div>
        </div>
       </div>
       <div class="page-header my-2">
        <h4><small><i class="bi bi-command"></i>&nbsp;相关文章</small></h4>
       </div>
       <ul class="list-group mb-2" style="margin-left: 0; width: 100%;">
        <li class="list-group-item link-a"><a href="info/12.html" title="Thymeleaf唯一标签th:block的用法和使用场景"><i class="bi bi-caret-right"></i>Thymeleaf唯一标签th:block的用法和使用场景</a></li>
       </ul>
       <div class="page-header my-2">
        <h4><small><i class="bi bi-pencil-square"></i>&nbsp;文章评论</small></h4>
       </div>
       <div class="col mb-3 mt-2">
        <div class="card shadow-sm">
         <div class="card-body border-bottom">
          <div class="mb-3"><label for="userName" class="form-label">用户名</label> <input type="text" class="form-control" id="userName" placeholder="请输入您的用户名">
          </div>
          <div class="mb-3"><label for="content" class="form-label">评论内容</label> <textarea class="form-control" id="content" rows="3" placeholder="请写下您想评论的内容"></textarea>
          </div><span class="btn btn-danger" onclick="relpy()">提交</span>
         </div>
        </div>
       </div>
      </div>
      <div class="col-sm-4"><!--引入右侧3大模块模板（包括了栏目分类、点击排行和站长推荐）-->
       <div class="row m-lg-1">
        <div class="page-header m-0">
         <h4><small><i class="bi bi-book"></i>&nbsp;栏目分类</small></h4>
        </div>
        <ul class="list-group mb-2 l-a">
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="../list/1.html" title="Spring-boot"><i class="bi bi-terminal-fill"></i>&nbsp;Spring-boot</a> <span class="badge bg-primary rounded-pill">5</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="../list/2.html" title="MyBatis-Plus"><i class="bi bi-twitter"></i>&nbsp;MyBatis-Plus</a> <span class="badge bg-primary rounded-pill">1</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="../list/3.html" title="Thymeleaf"><i class="bi bi-file-font-fill"></i>&nbsp;Thymeleaf</a> <span class="badge bg-primary rounded-pill">1</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="../list/4.html" title="Mysql"><i class="bi bi-server"></i>&nbsp;Mysql</a> <span class="badge bg-primary rounded-pill">0</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="../list/5.html" title="Bootstrap"><i class="bi bi-bootstrap"></i>&nbsp;Bootstrap</a> <span class="badge bg-primary rounded-pill">1</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="../list/6.html" title="Spring-security"><i class="bi bi-shield-shaded"></i>&nbsp;Spring-security</a> <span class="badge bg-primary rounded-pill">0</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="../list/7.html" title="Java Code"><i class="bi bi-braces"></i>&nbsp;Java Code</a> <span class="badge bg-primary rounded-pill">3</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="../list/8.html" title="Linux"><i class="bi bi-tv"></i>&nbsp;Linux</a> <span class="badge bg-primary rounded-pill">1</span></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="../list/9.html" title="javaFx"><i class="bi bi-life-preserver"></i>&nbsp;javaFx</a> <span class="badge bg-primary rounded-pill">1</span></li>
        </ul>
        <div class="page-header my-2">
         <h4><small><i class="bi bi-hand-index-thumb"></i>&nbsp;点击排行</small></h4>
        </div>
        <ul class="list-group mb-2">
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="info/12.html" title="Thymeleaf唯一标签th:block的用法和使用场景"><span class="badge rounded-pill">1</span>&nbsp;Thymeleaf唯一标签th:block的用法和使用场景</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="1.html" title="DJB-Blog我的个人博客终于上线了"><span class="badge rounded-pill">2</span>&nbsp;DJB-Blog我的个人博客终于上线了</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="5.html" title="UEditor富文本编辑器集成PrismJS代码高亮插件"><span class="badge rounded-pill">3</span>&nbsp;UEditor富文本编辑器集成PrismJS代码高亮插件</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="10.html" title="MyBatis-Plus使用QueryWrapper实现文章归档"><span class="badge rounded-pill">4</span>&nbsp;MyBatis-Plus使用QueryWrapper实现文章归档</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="3.html" title="Springboot程序HelloWord的404错误问题"><span class="badge rounded-pill">5</span>&nbsp;Springboot程序HelloWord的404错误问题</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="7.html" title="Files.walkFileTree()遍历目录文件输出树结构数据"><span class="badge rounded-pill">6</span>&nbsp;Files.walkFileTree()遍历目录文件输出树结构数据</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="8.html" title="Springboot集成MyBatis-Plus使用的快感"><span class="badge rounded-pill">7</span>&nbsp;Springboot集成MyBatis-Plus使用的快感</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="6.html" title="Bootstrap幻灯片组件的使用和美化"><span class="badge rounded-pill">8</span>&nbsp;Bootstrap幻灯片组件的使用和美化</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="11.html" title="Jsoup实现根据ip获取国家和城市信息"><span class="badge rounded-pill">9</span>&nbsp;Jsoup实现根据ip获取国家和城市信息</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="2.html" title="我的第一个Springboot程序之HelloWord"><span class="badge rounded-pill">10</span>&nbsp;我的第一个Springboot程序之HelloWord</a></li>
        </ul>
        <div class="page-header my-2">
         <h4><small><i class="bi bi-hand-thumbs-up"></i>&nbsp;站长推荐</small></h4>
        </div>
        <ul class="list-group mb-2">
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="2.html" title="我的第一个Springboot程序之HelloWord"><span class="badge rounded-pill">1</span>&nbsp;我的第一个Springboot程序之HelloWord</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="3.html" title="Springboot程序HelloWord的404错误问题"><span class="badge rounded-pill">2</span>&nbsp;Springboot程序HelloWord的404错误问题</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="1.html" title="DJB-Blog我的个人博客终于上线了"><span class="badge rounded-pill">3</span>&nbsp;DJB-Blog我的个人博客终于上线了</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="5.html" title="UEditor富文本编辑器集成PrismJS代码高亮插件"><span class="badge rounded-pill">4</span>&nbsp;UEditor富文本编辑器集成PrismJS代码高亮插件</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="6.html" title="Bootstrap幻灯片组件的使用和美化"><span class="badge rounded-pill">5</span>&nbsp;Bootstrap幻灯片组件的使用和美化</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="7.html" title="Files.walkFileTree()遍历目录文件输出树结构数据"><span class="badge rounded-pill">6</span>&nbsp;Files.walkFileTree()遍历目录文件输出树结构数据</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="4.html" title="Springboot集成Thymeleaf模板引擎"><span class="badge rounded-pill">7</span>&nbsp;Springboot集成Thymeleaf模板引擎</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="8.html" title="Springboot集成MyBatis-Plus使用的快感"><span class="badge rounded-pill">8</span>&nbsp;Springboot集成MyBatis-Plus使用的快感</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="9.html" title="Linux中Nginx使用if判断语句踩的坑"><span class="badge rounded-pill">9</span>&nbsp;Linux中Nginx使用if判断语句踩的坑</a></li>
         <li class="list-group-item d-flex justify-content-between align-items-center"><a href="10.html" title="MyBatis-Plus使用QueryWrapper实现文章归档"><span class="badge rounded-pill">10</span>&nbsp;MyBatis-Plus使用QueryWrapper实现文章归档</a></li>
        </ul>
       </div>
      </div>
     </div>
    </div> <!--引入底部模板-->
    <footer>
     <p>Copyright © <a href="https://djb-blog.com" title="DJB-Blog | 一个技术分享博客" style="color:#ffffff">DJB-Blog</a> All Rights Reserved.</p><a href="#">
      <div class="top"></div></a>
    </footer>
    <script type="text/javascript" src="../client/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../client/js/jquery.js"></script>
    <script type="text/javascript" src="../client/js/public.js"></script>
    <script type="text/javascript">
		//监听整个页面的 copy 事件
		document.addEventListener('copy',function(e){
			// clipboardData 对象是为通过编辑菜单、快捷菜单和快捷键执行的编辑操作所保留的，也就是你复制或者剪切内容
			let clipboardData = e.clipboardData || window.clipboardData;
			// 如果 未复制或者未剪切，直接 return
			if(!clipboardData) return ;
			// Selection 对象 表示用户选择的文本范围或光标的当前位置。
			// 声明一个变量接收 -- 用户输入的剪切或者复制的文本转化为字符串
			let text = window.getSelection().toString();
			if(text){
				// 如果文本存在，首先取消默认行为
				e.preventDefault();
				// 通过调用 clipboardData 对象的 setData(format,data) 方法，设置相关文本
				// format 一个 DOMString 类型 表示要添加到 drag object 的拖动数据的类型
				// data 一个 DOMString 表示要添加到 drag object 的数据
				clipboardData.setData('text/plain', text + '\r\n\r\n版权声明：本文为DJB-Blog博客的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。\r\n原文链接：'+document.location.href);
			}
		})
	</script>
   </div>
  </main>
 </body>
</html>